.card-mt10 {
    margin-top: 10px;
}
.base-table .el-button {
    margin-bottom: 5px;
}
// 表头字体
.table-header-row {
    font-size: 14px;
}
// table表格表头默认背景色
.el-table__header th {
    background-color: #f5f7fa !important;
}
// 弹窗表单样式
.dialog {
    .dialog-form {
        .el-form-item {
            width: 80%;
        }
    }
}
