@charset "utf-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h6 {
  font-weight: normal;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
textarea,
select,
button {
  border: none;
  outline: none;
  background: none;
}
table {
  border-collapse: collapse;
}
i {
  font-style: normal;
}
body,
html {
  font-family: '微软雅黑';
  color: #666;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F9F9F9;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #000;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  background-color: #D8DCE3;
  border-radius: 5px;
}
